@charset "utf-8";

@font-face {
    font-family: 'GapyeongWave';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongWave.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0; padding: 0;
}

tr, td{
    text-align: left !important;
    font-size: 1.1em;
    font-family: 'GmarketSansMedium';

}


.visual_content{
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.visual_content h2{
    font-size: 4em;
    color: #fff;
    font-family: 'Giants-Bold';
    text-shadow: 2px 2px 4px #222, 2px 2px #333;
    margin-bottom: 20px;
    word-break: keep-all;
}
.visual_content p{
    font-size: 1.2em;
    color: #efefef;
    font-family: 'GmarketSansMedium';
    text-shadow: 2px 2px #222, 2px 2px 4px #333;
    word-break: keep-all;

}

.sub_title{
    font-family: 'GmarketSansMedium';
    font-size: 1.7em;

}

h3{
    font-size: 2em;
    font-family: 'GmarketSansMedium';

}

h4{
    font-family: 'GmarketSansMedium';
    font-size: 1.2em;
}

.content1 p{
    font-family: 'GmarketSansMedium';
    font-size: 1em;

}

.content1 img{
    width: 100%;
    height: 300px;
    
}